# IDE and OS Files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log

# Rust
target/
**/*.rs.bk

# Go
aggregator/bin/
**/__debug_bin*

# Build
docker.io-cache/

# Temporary and Local Configurations
.env
.agents/
.gemini/

